html, body{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    
}

h2.header{
    color: #189E93;
    font-size: 3.75em;
    font-weight: bold;
    @media (max-width: 576px){
        font-size: 2em;
    }
    @media (max-width: 768px){
        margin-top: 10px;
    }
}

//About Section
.about-section {
    .row{
        margin: 0 4em;
        @media (max-width: 992px){
            margin: unset;
        }
    }
    .about-header{
        margin: 30px 0;
        .hero{
            img{
                max-width: 100%;
                width: 250px;
                height: auto;
                @media (max-width: 576px){

                }
                @media (min-width: 576px){
                    float: left;
                }
            }
        }
        p{
            color: rgba(#383838,0.5);
            font-size: 1.2em;
            font-weight: 500;
            @media (max-width: 576px){
                font-size: 1em;
            }
        }
    }
    .about-content{
        background-color: #F9FAFC;
        padding: 30px 0;
        .card{
            background-color: #FFFFFF;
            border: 0;
            text-align: center;
            padding: 3em 1em;
            margin: .7em .5em;
            @media (max-width: 992px){
                padding: 3em 1em;
            }
            .card-img{
                img{
                    height: 5em;
                    width: 5em;
                    object-fit: contain;
                }
            }
            span{
                padding-top: 20px;
                color: rgba(#000000,.6);
                font-size: 1.5em;
                @media (max-width: 576px){
                    font-size: 1.2em;
                }
            }
        }
    }
}

.product-section{
    button{
        font-size: 1.5em;
        font-weight: 500;
        color: #FFFFFF;
        padding: .5em 1em;
        margin: .5em 0;
        border-radius: 8px;
        border: 0;
        background-color:#189E93;
        cursor: none;
    }
    .slider {
        position: relative;
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        overflow: hidden;
        background: white;
        .slider-items-container {
          display: flex;
          flex-wrap: wrap;
          height: 500px;
          transition: transform 0.35s ease-in-out;
          img {
            width: 100vw;
            max-width: 400px;
            display: block;
          }
        }
        .controls {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
          width: 100%;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 35px;
          img{
              width: 50px;
              height: 50px;
          }
          a {
            color: #333;
            text-decoration: none;
            transition: 0.15s ease-in-out;
            &:hover {
              color: #888;
            }
          }
        }
        .dots {
          border: 1px solid #189E93;
          border-radius: 25em;
          width: 30%;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          padding: 10px;
          @media (max-width: 768px){
            width: 50%;
          }
          .dot {
            width: 15px;
            height: 15px;
            background: rgba(#189E93,.5);
            transition: 0.15s ease-in-out;
            border-radius: 25em;
            cursor: pointer;
            margin: 0 5px;
            &.active {
              background: #189E93;
            }
          }
        }
      }
    .product-desc{
        font-size: 1.1em;
        font-weight: 500;
        color: #8E8E8E;
        h3{
            font-size: 1.8em;
            font-weight: 700;
            color: #696969;
            &.product-title{
                font-size: 2.2em;
            }
        }
    }
}

.gallery-section{
    background-image: linear-gradient(to bottom right, #FFEBCA, #CFDFD4);;
    padding: 30px 0;
    margin: 30px 0;
    .gallery-hero{
        position: relative;
        text-align: center;
        color: white;
        h2{
            font-size: 4em;
            font-weight: 700;
            filter: drop-shadow(0 0 3px #333);
            @media (max-width: 576px){
                font-size: 2.8em;
            }
        }
        input[type="button"]{
            border: 0;
            border-radius: 25em;
            background-color: #FBA919;
            color: #FFFFFF;
            padding: 8px 16px;
            font-weight: 600;
            font-size: 1.2em;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
        img{
            width: 100%;
            height: 25em;
            object-fit: cover;
        }
    }
}

.partner-section{

}

footer{
    background-color: #189E93;
    color: #FFFFFF;
    font-weight: 500;
    padding: 4em 0;
    h3{
        font-size: 2em;
    }
    .contact-bar{
        position: relative;
        margin: 2em 0;
        img{
            position: absolute;
            left: 0;
            height: 50px;
            width: 50px;
        }
        ul{
            padding-left: 75px;
            li{
                list-style-type: none;
            }
        }
    }
}