html, body {
  font-family: 'Roboto';
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h2.header {
  color: #189E93;
  font-size: 3.75em;
  font-weight: bold;
}

@media (max-width: 576px) {
  h2.header {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  h2.header {
    margin-top: 10px;
  }
}

.about-section .row {
  margin: 0 4em;
}

@media (max-width: 992px) {
  .about-section .row {
    margin: unset;
  }
}

.about-section .about-header {
  margin: 30px 0;
}

.about-section .about-header .hero img {
  max-width: 100%;
  width: 250px;
  height: auto;
}

@media (min-width: 576px) {
  .about-section .about-header .hero img {
    float: left;
  }
}

.about-section .about-header p {
  color: rgba(56, 56, 56, 0.5);
  font-size: 1.2em;
  font-weight: 500;
}

@media (max-width: 576px) {
  .about-section .about-header p {
    font-size: 1em;
  }
}

.about-section .about-content {
  background-color: #F9FAFC;
  padding: 30px 0;
}

.about-section .about-content .card {
  background-color: #FFFFFF;
  border: 0;
  text-align: center;
  padding: 3em 1em;
  margin: .7em .5em;
}

@media (max-width: 992px) {
  .about-section .about-content .card {
    padding: 3em 1em;
  }
}

.about-section .about-content .card .card-img img {
  height: 5em;
  width: 5em;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-section .about-content .card span {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5em;
}

@media (max-width: 576px) {
  .about-section .about-content .card span {
    font-size: 1.2em;
  }
}

.product-section {
  position: relative;
}

.product-section .product-slider {
  width: 100%;
  height: auto;
  border-radius: 1em;
  overflow: hidden;
}

.product-section .product-slides {
  width: 500%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-section .product-slides input[type="radio"] {
  display: none;
}

.product-section .slide {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-section .slide img {
  width: 450px;
  height: 500px;
}

.product-section .navigation-manual {
  position: absolute;
  width: 500px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-section .manual-btn {
  border: 2px solid #189E93;
  border-radius: 1em;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.product-section .manual-btn:not(:last-child) {
  margin-right: 10px;
}

.product-section .manual-btn:hover {
  background: #189E93;
}

.product-section #product1:checked ~ .first {
  margin-left: 0;
}

.product-section #product2:checked ~ .first {
  margin-left: -20%;
}

.product-section #product3:checked ~ .first {
  margin-left: -40%;
}

.gallery-section .gallery-hero {
  position: relative;
  text-align: center;
  color: white;
}

.gallery-section .gallery-hero h2 {
  font-size: 4em;
  font-weight: 700;
  -webkit-filter: drop-shadow(0 0 3px #333);
          filter: drop-shadow(0 0 3px #333);
}

@media (max-width: 576px) {
  .gallery-section .gallery-hero h2 {
    font-size: 2em;
  }
}

.gallery-section .gallery-hero h2 input[type="button"] {
  position: absolute;
  bottom: 8px;
}

.gallery-section .gallery-hero img {
  width: 100%;
  height: 25em;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */