html, body{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{

}

.about-section{

}

.about-section {
    .about-header{
        margin: 30px 0;
        max-width: 100%;
        .hero{
            img{
                display: block;
                max-width: 250px;
                @media (max-width: 576px){

                }
                @media (min-width: 576px){
                    float: left;
                }
            }
        }
        h1{
            color: #189E93;
            font-size: 4em;
            font-weight: bold;
            @media (max-width: 576px){
                font-size: 3em;
            }
            @media (max-width: 768px){
                margin-top: 10px;
            }
        }
        p{
            color: rgba(#383838,0.5);
            font-size: 1.2em;
            font-weight: 500;
        }
    }
    .about-content{
        background-color: #F9FAFC;
        padding: 30px 0;
        h1{
            color: #189E93;
            font-size: 4em;
            font-weight: bold;
            max-width: 100%;
            @media (max-width: 576px){
                font-size: 2.3em;
            }
            @media (max-width: 768px){
                margin-top: 10px;
            }
        }
        .card{
            background-color: #FFFFFF;
            text-align: center;
            padding: 4em 1em;
            margin: .7em 0;
            @media (max-width: 992px){
                padding: 3em 1em;
            }
            .card-img{
                max-width: 100%;
                img{
                    width: 100px;
                }
            }
            span{
                padding-top: 20px;
                color: rgba(#000000,.6);
                font-size: 1.5em;
            }
        }
    }
}
